.dance-classes-title-underline-creative-movement {
    width: 300px;
    height: 6px;
    background-color: #408eb2;
    border-radius: 3px;
    margin: 0 auto 40px auto;
    transform: skewX(-15deg);
    margin-bottom: -20px;
  }


  .creative-image2 img {
    display: block;
    margin: 60px auto 0; 
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
  } 