  .classes-FAQ-underline {
    width: 50px;
    height: 6px;
    background-color: #408eb2;
    border-radius: 3px;
    margin: 0 auto 40px auto;
    transform: skewX(-15deg);
  }

  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   Tablet Media Query (max-width: 768px)
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    */

  @media (max-width: 768px) {
  }

  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  Phone Media Query (max-width: 425px)
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  */

  @media screen and (max-width: 425px) {

  }