@import './TestimonialsHome.css';

/* =====================================
   White Bar (Side Side) Fix
===================================== */

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

/* Update all full-width elements */
.homepage-banner,
.carousel img,
.dance-classes-banner,
.dance-classes-banner-image {
  width: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}


.dance-classes,
.music-classes,
.featured-classes,
.why-us,
.next-steps,
.meet-team {
  overflow-x: hidden;
  width: 100%;
}


/* =====================================
   Global / Base Styles
===================================== */
.homepage-banner {
  width: 100vw;
  height: 35vh;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
  z-index: 1000;
}

.homepage {
  text-align: center;
}

.carousel img {
  width: 100vw;
  height: 35vh;
  object-fit: cover;
}




/* =====================================
     OUR MISSION Section
  ===================================== */

.our-mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 40px auto;
  margin-top: -40px;
  padding: 40px;
  margin-bottom: 60px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
  margin-top: 60px;
}

.text-container {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #333;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}

.our-mission h1::after {
  content: "";
  position: absolute;
  left: 35%;
  transform: translateX(-50%) skewX(-15deg);
  bottom: -15px;
  width: 220px;
  height: 6px;
  background-color: #408eb2;
  border-radius: 3px;
}

.text-container p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}

.button-container {
  margin-top: 20px;
}

.register-btn,
.trial-btn {
  background-color: #408eb2;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-btn:hover,
.trial-btn:hover {
  background-color: #5d9dbb;
}

/* =====================================
     DANCE/MUSIC/FEATURED Section
  ===================================== */

.dance-classes {
  position: relative;
  overflow: visible;
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 90px;
  margin-top: 0;
  text-align: center;
}

.music-classes {
  position: relative;
  overflow: visible;
  background-color: transparent;
  padding-bottom: 90px;
  margin-top: 0;
  text-align: center;
}

.featured-classes {
  position: relative;
  overflow: visible;
  background-color: transparent;
  margin-top: 0;
  text-align: center;
}

.dance-classes::before,
.music-classes::before,
.featured-classes::before {
  content: "";
  position: absolute;
  top: -50px; /* Slight upward offset, if desired */
  left: 0; /* Start at the left edge of the browser */
  width: 100%; /* Fill entire width */
  height: 150%; /* How tall the skew is */
  background: #f5f5f5; /* Grey background */
  transform: skewY(3deg);
  z-index: -1;
}

.dance-lessons-inner,
.music-program-inner,
.featured-lessons-inner {
  max-width: 1200px; /* The content width limit */
  margin: 0 auto; /* Center horizontally */
  padding: 0 40px; /* Horizontal padding inside the container */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dance-image-container,
.music-image-container,
.featured-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dance-image-container img,
.music-image-container img,
.featured-image-container img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.dance-text-container,
.music-text-container,
.featured-text-container {
  flex: 1;
  text-align: left;
}

.dance-text-container h1,
.music-text-container h1,
.featured-text-container h1 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.dance-text-container h1::after,
.music-text-container h1::after {
  content: "";
  position: absolute;
  left: 30%;
  transform: translateX(-50%) skewX(-15deg);
  bottom: -15px;
  width: 220px;
  height: 6px;
  background-color: #408eb2;
  border-radius: 3px;
}

.featured-text-container h1::after {
  content: "";
  position: absolute;
  left: 48%;
  transform: translateX(-50%) skewX(-15deg);
  bottom: -15px;
  width: 220px;
  height: 6px;
  background-color: #408eb2;
  border-radius: 3px;
}

.dance-text-container p,
.music-text-container p,
.featured-text-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  max-width: 520px;
}

.dance-text-container .learn-more,
.music-text-container .learn-more,
.featured-text-container .learn-more {
  display: inline-block;
  background-color: #408eb2;
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 10px;
}

.dance-text-container .learn-more:hover,
.music-text-container .learn-more:hover,
.featured-text-container .learn-more:hover {
  background-color: #5d9dbb;
}

.class-box {
  background-color: white;
  padding: 20px 60px 40px 60px;; /* Increased right padding from what it was before */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.class-box h1 {
  margin-top: 20px;
  margin-bottom: 0.5rem;
}


/* =====================================
     MEET OUR TEAM Section
  ===================================== */
.meet-team {
  position: relative;
  overflow: visible;
  background-color: transparent;
  padding-bottom: 90px;
  margin-top: 0;
  text-align: center;
}

.meet-team-text-container {
  max-width: 1200px;
  margin: 0 auto;
}

.meet-team::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 200%;
  background: #f5f5f5;
  transform: skewY(3deg);
  z-index: -1;
}

.meet-team-heading {
  font-size: 3rem;
  font-weight: 900;
  color: #333;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.meet-team-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) skewX(-15deg);
  bottom: -10px;
  width: 280px;
  height: 6px;
  background-color: #408eb2;
  border-radius: 3px;
}

.team-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  object-position: 50% 30%;
}

.team-label {
  margin-top: 10px;
  font-size: 1.8rem;
  color: #333;
  font-weight: 900;
  margin-bottom: 1rem;
}

.team-item-link {
  text-decoration: none;
  color: inherit;
}

.team-item-link:hover .team-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .team-items {
    flex-direction: column;
  }
}

/* =====================================
     WHY US? Section
  ===================================== */
.why-us {
  position: relative;
  overflow: visible;
  background-color: transparent;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.why-us::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 150%;
  background: #ffffff;
  transform: skewY(3deg);
  transform-origin: top left;
  z-index: -1;
}

.why-us-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

.why-us-heading {
  font-size: 3rem;
  font-weight: 900;
  color: #333;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.why-us-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) skewX(-15deg);
  bottom: -10px;
  width: 180px;
  height: 6px;
  background-color: #408eb2;
  border-radius: 3px;
}

.why-us-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #020202;
  max-width: 800px;
  margin: 1rem auto 0;
}

.why-us-values {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 2rem;
  flex-wrap: wrap;
  text-align: center;
}

.why-us-value-card {
  flex: 1;
  min-width: 280px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 360px;
}

.why-us-value-icon {
  margin-bottom: 1rem;
}

.why-us-value-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: -15px;
}

.why-us-value-icon2 img {
  width: 60px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.why-us-value-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  position: relative;
}

.why-us-value-title span {
  display: block;
  font-size: 1rem;
  font-style: italic;
  color: #666;
  margin-top: 0.25rem;
}

.why-us-value-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .why-us-values {
    flex-direction: column;
    align-items: center;
  }
  .why-us-value-card {
    max-width: 500px;
    margin-bottom: 20px;
  }
}

/* =====================================
     NEXT STEPS Section
  ===================================== */
.next-steps {
  position: relative;
  overflow: visible;
  background-color: transparent;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 70px;
}

.next-steps::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 150%;
  background: #f5f5f5;
  transform: skewY(3deg);
  transform-origin: top left;
  z-index: -1;
}

.next-steps-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

.next-steps-heading {
  font-size: 3rem;
  font-weight: 900;
  color: #333;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.next-steps-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) skewX(-15deg);
  bottom: -10px;
  width: 220px;
  height: 6px;
  background-color: #408eb2;
  border-radius: 3px;
}

.next-steps-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #1c1c1c;
  max-width: 800px;
  margin: 1rem auto 0;
}

.next-steps-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.next-step-box {
  flex: 1;
  min-width: 280px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 360px;
}

.step-title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: -10px;
  color: #333;
}

.step-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #202020;
  margin-bottom: 1.5rem;
}

.step-button {
  background-color: #408eb2;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.step-button:hover {
  background-color: #5d9dbb;
}

/* =====================================
     FADE IN/OUT  Section
  ===================================== */

.slide-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease;
}
.slide-left.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease;
}
.slide-right.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition:
          opacity 0.4s ease,
          transform 0.4s ease;
}


.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* .delay-1 {
    transition-delay: 0.2s;
  } */

.delay-2 {
  transition-delay: 0.5s;
}

.delay-4 {
  transition-delay: 0.1s;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* ------------------ For screens up to 1430px ------------------ */

@media (max-width: 1430px) {
  .dance-classes,
  .music-classes,
  .featured-classes {
    padding: 30px 10%;
    margin: 30px auto;
  }
}

/* ------------------ For screens up to 1300px ------------------ */
@media (max-width: 1300px) {
  .our-mission {
    padding: 30px;
    margin: 30px auto;
  }
  .dance-classes,
  .music-classes,
  .featured-classes {
    padding: 20px 5%;
    margin: 20px auto;
  }
}

/* ------------------------------------------------------------------------ For screens up to 1200px ----------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .our-mission {
    padding: 30px;
    margin: 30px auto;
  }

  .dance-classes,
  .music-classes,
  .featured-classes {
    padding: 20px 0%;
    margin: 20px auto;
  }
}

/* ------------------------------------------------------------------------ For screens up to 980px (BIG CLICK) ------------------------------------------------------ */
@media (max-width: 980px) {
  .our-mission {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 0;
    padding-bottom: 100px;
  }

  .our-mission h1::after {
    left: 50%;
  }

  .text-container {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .text-container h1 {
    font-size: 2.4rem;
  }

  .image-container {
    margin-top: 0;
    flex: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image-container img {
    margin-top: 20px;
    max-width: 55%;
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .register-btn,
  .trial-btn {
    margin-right: 10px;
    font-size: 0.9rem;
    padding: 10px 16px;
  }

  .dance-classes {
    margin-bottom: 0;
  }

  .music-classes {
    margin-top: 0;
  }

  .featured-classes::before {
    margin-top: -190px;
  }

  .dance-classes,
  .music-classes,
  .featured-classes {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 5%;
    position: relative;
    justify-content: center;
  }

  .dance-lessons-inner,
  .music-program-inner,
  .featured-lessons-inner {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    transform: none;
    justify-content: space-between;
  }

  .dance-image-container,
  .dance-text-container,
  .music-image-container,
  .music-text-container,
  .featured-image-container,
  .featured-text-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .music-program-inner {
    display: flex;
    flex-direction: column;
  }

  .music-text-container {
    order: 1;
  }

  .music-image-container {
    order: 2;
  }

  .class-box {
    margin: 0 auto;
    text-align: left;
  }

  .dance-image-container img,
  .music-image-container img,
  .featured-image-container img {
    margin-bottom: -40px;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Tablet Media Query (max-width: 768px)
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  */

@media (max-width: 768px) {
  /* Banner adjustments */
  .homepage-banner {
    height: 30vh;
  }

  .carousel img {
    height: 30vh;
  }

  /* Our Mission Section */
  .our-mission {
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    gap: 30px;
  }

  .text-container {
    padding: 0 15px;
  }

  .text-container h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .text-container p {
    font-size: 1.1rem;
    text-align: center;
  }

  .image-container img {
    max-width: 400px;
    margin-top: 20px;
  }

  /* Music/Band/Other Lessons Sections */
  .dance-lessons-inner,
  .music-program-inner,
  .featured-lessons-inner {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }

  .dance-text-container,
  .music-text-container,
  .featured-text-container {
    text-align: center;

  }

  .dance-text-container h1,
  .music-text-container h1,
  .featured-text-container h1 {
    font-size: 2.3rem;
  }

  .dance-text-container p,
  .music-text-container p,
  .featured-text-container p {
    font-size: 1.1rem;
    margin: 20px auto;
    max-width: 100%;
  }

  .dance-image-container img,
  .music-image-container img,
  .featured-image-container img {
    max-width: 400px;
    margin: 20px auto;
  }

  /* Class Box adjustments */
  .class-box {
    max-width: 100%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
  }

  /* Why Us Section */
  .why-us-content {
    padding: 0 20px;
  }

  .why-us-heading {
    font-size: 2.5rem;
  }

  .why-us-values {
    gap: 25px;
  }

  .why-us-value-card {
    min-width: 240px;
    padding: 15px;
  }

  .why-us-value-title {
    font-size: 1.2rem;
  }

  /* Meet Team Section */
  .meet-team-heading {
    font-size: 2.5rem;
    margin-bottom: -20px;
  }

  .team-items {
    gap: 25px;
    padding: 0 20px;
  }

  .team-card {
    width: 280px;
    height: 260px;
  }

  .team-label {
    font-size: 1.5rem;
  }

  /* Next Steps Section */
  .next-steps-content {
    padding: 0 20px;
  }

  .next-steps-heading {
    font-size: 2.5rem;
  }

  .next-steps-boxes {
    gap: 25px;
  }

  .next-step-box {
    min-width: 240px;
    padding: 15px;
  }

  .step-title {
    font-size: 1.5rem;
  }

  /* Button adjustments */
  .register-btn,
  .trial-btn,
  .learn-more {
    font-size: 0.95rem;
    padding: 10px 18px;
  }




  /* General spacing adjustments */
  .dance-classes,
  .music-classes,
  .featured-classes {
    margin: 40px 0;
    padding-bottom: 60px;
  }

  /* Title underline adjustments */

}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Mobile Large Media Query (max-width: 425px)
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  */
@media screen and (max-width: 425px) {


  html {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  #root {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }


  /* Banner adjustments */
  .homepage-banner {
    height: 25vh;
  }

  .carousel img {
    height: 25vh;
  }

  /* Our Mission Section */
  .our-mission {
    flex-direction: column;
    padding: 15px;
    margin: 10px auto;
    gap: 20px;
    padding-bottom: 40px;
    margin-top: -35px;
  }

  .text-container {
    padding: 0 10px;
  }

  .text-container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .text-container p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
  }

  .image-container img {
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
  }


  /* Why Us Section */
  .why-us {
    padding-bottom: 80px !important;
  }

  .why-us-content {
    padding: 0;  /* Remove horizontal padding */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .why-us-heading {
    font-size: 2rem;
    margin-top: -20px;
  }

  .why-us-text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .why-us-values {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }


  .why-us-value-card {
    width: 100%;
    margin: 0 auto 20px;
    max-width: 300px;  /* Adjust this value as needed */
  }


  .why-us-value-title {
    font-size: 1.1rem;
  }

  .why-us-value-text {
    font-size: 0.95rem;
  }

  /* Meet Team Section */
  .meet-team {
    padding-bottom: 80px;
  }

  .meet-team-heading

  {
    font-size: 2rem;
  }

  .meet-team h1 {
    font-size: 2.2rem;
    margin-top: 10px;
  }

  .meet-team h1::after {
    width: 200px;

  }



  .team-items {
    gap: 25px !important;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center items horizontally */
    width: 100%;         /* Full width container */
  }

  .team-item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 280px !important;
    margin: 0 auto !important;
  }



  .team-card {
    width: 280px !important;
    height: 180px !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: flex-start !important;
  }




  .team-card img {
    width: 280px !important;
    height: 180px !important;
    object-fit: cover !important;
    margin-top: 0px !important; /* This pushes the image up slightly */
  }



  .team-label {
    font-size: 1.6rem;
    margin-top: 4px;
  }



  /* Next Steps Section */
  .next-steps {
    padding-bottom: 50px;  /* Remove bottom padding */
    margin-bottom: 0;   /* Remove bottom margin */
    padding-top: -40px;
  }

  .next-steps-content {
    padding: 0 15px;
  }

  .next-steps-heading {
    font-size: 2rem;
    margin-top: -20px;
  }

  .next-steps-text {
    font-size: 1rem;
  }

  .next-steps-boxes {
    flex-direction: column;  /* Stack boxes vertically */
    align-items: center;     /* Center boxes horizontally */
    gap: 15px;              /* Reduce gap between boxes */
  }

  .next-step-box {
    width: 90%;             /* Make boxes take most of the width */
    margin-bottom: 15px;    /* Add space between boxes */
  }

  /* Ensure the last box doesn't have extra margin */
  .next-step-box:last-child {
    margin-bottom: 0;
  }


  .step-title {
    font-size: 1.3rem;
  }

  .step-description {
    font-size: 0.95rem;
  }

  /* Button adjustments */
  .register-btn,
  .trial-btn {
    padding: 10px 16px;
    font-size: 0.9rem;
    margin: 5px;
  }

  .learn-more {
    padding: 10px 16px;
    font-size: 0.9rem;
    width: 80%;
    margin: 10px auto;
    display: block;
  }

  .button-container {
    display: flex;
    flex-direction: row; /* Change from column to row */
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }

  .register-btn,
  .trial-btn {
    padding: 10px 16px;
    font-size: 0.9rem;
    width: auto; /* Remove fixed width */
    margin: 0; /* Remove margins */
    white-space: nowrap; /* Prevent text wrapping */
  }

  /* Remove any previously set button width */
  .button-container button {
    width: auto;
    margin: 0;
  }


  /* Fix any potential overflow issues */
  .homepage {
    overflow-x: hidden;
  }

  .music-program-inner {
    display: flex;
    flex-direction: column !important; /* Force column direction */
  }

  .music-text-container {
    order: 0; /* Move text container to top */
  }

  .music-image-container {
    order: 1; /* Move image container to bottom */
  }

  /* Featured section - put text on top */
  .featured-lessons-inner {
    display: flex;
    flex-direction: column !important;
  }

  .featured-text-container {
    order: 0;
  }

  .featured-image-container {
    order: 1;
  }



  /* Hide images as requested in previous change */



  .dance-image-container,
  .music-image-container,
  .featured-image-container {
    display: none;
  }

  .dance-text-container{
    margin-top: -35px;

  }

  .dance-text-container,
  .music-text-container {
    margin-bottom: -180px;
  }

  .featured-text-container{
    padding: 5px;
    margin-bottom: 0px;
  }

  /* Music/Band/Other Lessons Sections */
  .dance-lessons-inner,
  .music-program-inner,
  .featured-lessons-inner {
    padding: 5px;
    gap: 5px;
    width: 95%; /* Reduce side margins */
  }

  .dance-text-container h1,
  .music-text-container h1,
  .featured-text-container h1 {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .dance-text-container p,
  .music-text-container p,
  .featured-text-container p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 15px auto;
  }

  .dance-image-container img,
  .music-image-container img,
  .featured-image-container img {
    display: none;

  }

  /* Class Box adjustments */
  .class-box {
    padding: 15px;
    margin: 15px 10px;
  }

  .class-box h1 {
    font-size: 1.8rem;
  }

  /* Title underline adjustments */
  .our-mission h1::after {
    width: 140px;
    height: 4px;
    bottom: -10px;
    left: 50%;
  }

  .dance-text-container h1::after {
    width: 140px;
    height: 4px;
    bottom: -10px;
    left: 50%;

  }

  .music-text-container h1::after {
    width: 140px;
    height: 4px;
    bottom: -10px;
    left: 50%;

  }

  .featured-text-container h1::after {
    width: 100px;
    height: 4px;
    bottom: -10px;
    left: 50%;

  }



  .carousel .slide {
    padding: 0 !important;
    margin: 0 !important;
  }




}

