
  
  .dance-title-underline {
    width: 100px;
    height: 6px;
    background-color: #408eb2;
    border-radius: 3px;
    margin: 0 auto 40px auto;
    transform: skewX(-15deg);
  }
  
/* Common styling for all images */
.classes-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
  }
  
  /* Unique object-position per card */
  .piano-card img {
    object-position: 50% 40%;
  }
  .violin-card img {
    object-position: 50% 0%;
  }
  .vocal-card img {
    object-position: 50% 40%;
  }

  .all-music-button-link {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 30px auto;
  }

  .all-music-button {
    background-color: #408eb2;
    color: white;
    font-size: 1rem;
    font-weight: bold;  /* Make the font bold */
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .all-music-button:hover {
    background-color: #5d9dbb;
  }



