/* =====================================
     MEET OUR TEAM Section
  ===================================== */
  .meet-our-team {
    position: relative;
    overflow: visible;
    background-color: transparent;
    padding-bottom: 90px;
    margin-top: 0;
    text-align: center;
  }
  
  .meet-our-team-text-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .meet-our-team::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 200%;
    background: #ffffff;
    transform: skewY(3deg);
    z-index: -1;
  }
  
  .meet-our-team-heading {
    font-size: 3rem;
    font-weight: 900;
    color: #333;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
  }
  
  .meet-our-team-heading::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) skewX(-15deg);
    bottom: -10px;
    width: 150px;
    height: 6px;
    background-color: #408eb2;
    border-radius: 3px;
  }
  
  .team-items {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
  }
  
  .team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 280px;
    overflow: hidden;
    position: relative;
  }
  
  .team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    object-position: 50% 30%;
  }
  
  .team-label {
    margin-top: 10px;
    font-size: 1.8rem;
    color: #333;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  
  .team-item-link {
    text-decoration: none;
    color: inherit;
  }
  
  .team-item-link:hover .team-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .team-items {
      flex-direction: column;
    }
  }
  