.testimonials-page-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 50px;
}

.testimonials-page-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.testimonials-page-title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) skewX(-15deg);
    bottom: -15px;
    width: 250px;
    height: 6px;
    background-color: #408eb2;
    border-radius: 3px;
}

.testimonials-page-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.testimonials-page-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 20px;
    text-align: left;
    margin-bottom: 20px;
}

.testimonials-page-author {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.testimonials-page-stars {
    color: #f5c518;
}

.testimonials-page-text {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}

.testimonials-page-carousel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
    overflow: visible;
}

.testimonials-page-carousel-inner .control-arrow {
    background: rgba(0, 0, 0, 0.3) !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 50% !important;
    transform: translateY(-50%);
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

.testimonials-page-carousel-inner .control-arrow:hover {
    opacity: 1;
}

.testimonials-page-carousel-inner .control-prev.control-arrow {
    left: 10px !important;
}

.testimonials-page-carousel-inner .control-next.control-arrow {
    right: 10px !important;
}

.testimonials-page-carousel-inner .control-dots {
    display: none !important;
}

@media (max-width: 600px) {
    .testimonials-page-cards {
        flex-direction: column;
        align-items: center;
    }
    .testimonials-page-card {
        width: 90%;
        max-width: 400px;
        margin-bottom: 20px;
    }
}

.testimonials-page-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
    max-width: 300px;
    padding: 0 20px;
}

.testimonials-page-images img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.testimonials-page-images .testimonials-page-image-larger:nth-child(1) {
    max-width: 230px;
    margin-bottom: 5px;
}

.testimonials-page-images .testimonials-page-image-larger:nth-child(2) {
    max-width: 200px;
}

.testimonials-page-card::after {
    content: "";
    background-image: url("https://i.imgur.com/y1EO87R.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 425px) {
    .testimonials-page-section {
        margin: 40px auto -30px;
        padding: 0 15px;
        padding-bottom: 40px;
        width: 100%;
        margin-bottom: 50px;
    }

    .testimonials-page-title {
        font-size: 2.3rem;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .testimonials-page-title::after {
        width: 190px;
        height: 5px;
        bottom: -10px;
    }

    .testimonials-page-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        transform: none !important;
    }

    .carousel .slide {
        padding: 0 !important;
        margin: 0 !important;
    }

    .testimonials-page-card {
        width: 250px !important;
        padding: 1.5rem !important;
        height: auto !important;
        min-height: 250px !important;
        margin-bottom: -50px;

    }

    .testimonials-page-author {
        position: relative !important;
        top: 0 !important;
        margin: 0 30px 0 0 !important;
        font-size: 1.1rem !important;
        display: inline-block !important;
    }

    .testimonials-page-stars {
        position: relative !important;
        top: 0 !important;
        margin: 5px 0 !important;
        display: block !important;
    }

    .testimonials-page-text {
        margin-top: 10px !important;
        font-size: 0.95rem !important;
        line-height: 1.5 !important;
    }

    .testimonials-page-card::after {
        top: 1.5rem !important;
        right: 1.5rem !important;
    }

    .testimonials-page-images {
        flex-direction: column;
        gap: 15px;

    }

    .testimonials-page-images img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .testimonials-page-images img:first-child {
        width: 70%;
        max-width: 450px;
        margin: -30px 0 -10px;
    }

    .testimonials-page-images img:last-child {
        width: 100%;
        max-width: 280px;
        margin-bottom: 0px;
    }
}